/*--------------------------ColorPalette------------------*/
/*background : #C30D4C fucsia
background : #6400AA purple
background : #E60050 #E60050
background-color : #6400AA
color : #FFFFFF*?

/*----------------------------Header/Navbar-----------------------*/
.container-fluid{margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-top: 100px;
}
.navbar{letter-spacing: 2px;
        font-family: "Noto sans", sans-serif;
        font-weight: lighter;
        font-size: 15px;
        color:#6400AA;
        text-align: center;
        
  
}

nav a {
    font-family: "Fjalla Ona", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color:white;
    text-align: left;
}
nav a:hover {
  color: grey;
  text-decoration: none;
 }

/*----------------------------Main Section-----------------------*/

.home-page{
  margin-top:250px;
  margin-left: 50px;
  
}

.bckgrnd{
  height:100vh;
  background-image: url("../assets/bulb.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.main-content{
  padding-top:10px;
}

h1{font-family: "Fjalla Ona", sans-serif;
    font-weight: 200;
    font-size: 1000px;
    color:white;
    text-transform: uppercase;
  
}
/*----------------------------Footer-----------------------*/
.container-fluid{
    margin-left: 0px;
    margin-right:0px;
    padding:0px;
}
.footer-copyright{
    background-color:#6400AA;
    text-align: center;
}
 
.footer-copyright a {
    font-family:"Noto sans", sans-serif;
    font-weight:100;
    font-size:20px;
    color:white;
}
/*---------------------------Contact page ----------------------*/


.contact-pg {
  background:white;
}

i{
  text-align: center;
  display: inline-block;
  width: 100%;
  
}

h4 {
  font-family:"Fajalla Ona", sans-serif;
  font-size: 20px;
  text-transform:uppercase;
  color:#333333;
  margin-top: 10px;
  
}
.fa-phone{
      font-size: 3rem;
      margin-top: 50px;
      color:#C30D4C;
}

.fa-home{
      font-size: 3rem;
      margin-top: 50px;
      color:#C30D4C;
}

.fa-envelope-open-text{
      font-size: 3rem;
      margin-top: 50px;
      color:#C30D4C;
}

.phone{
  font-family: "Noto-sans", sans-serif;
  font-size:20px;
  font-weight: lighter;
  text-transform:uppercase;
  color:#C30D4C;
}

.phnum{
  font-family: "Noto-sans", sans-serif;
  font-size:20px;
  font-weight: lighter;
  color:#333333;
}

  address {
  font-family: "Noto-sans", sans-serif;
  font-size:20px;
  font-weight: lighter;
  color:#333333;
}

/*---------------------------Contact form-----------------------*/
.contact-main {
  text-align: center;
  }

.cont-form{
  flex-grow: 0;
  width:400px;
  padding-top:20px;
}


        
      
.cont-form input{
            font-family:"Fajalla Ona", sans-serif;
            text-transform:uppercase;
            text-align:left;
            width:350px; 
            margin-top:0px;
            height:30px;
            
            }
        
.cont-form  input[type=textarea] {
            height:100px;
        }
        
.btn{margin-top:20px;
            background-color:#C30D4C;
           
        }
input:hover {
  background: #EEEEEE;
  color: #333333;
}

.gmap {margin-top:20px;}


/*----------------------------The team-----------------------*/

.team-main {margin-top:200px;}
.main{
  padding-top: 50px;
  margin-left: 10px;
  
}



.title{
    font-family: "Nato sans", sans-serif;
    font-weight:lighter;
    text-transform: uppercase;
    font-size: 100;
    color:grey;
    margin-left:10px;

}

.par {
    font-family: "Nato sans", sans-serif;
    font-weight:lighter;
    font-size: 20;
    color:grey;
    background-color:#fafafa;
    margin-left:10px;
}
  
img {
  height:146px;
  width:146px;
  margin-top: 40px;
  border-radius: 50%;
}
  
.shots-section{
  background:#fafafa;
}


