/*--------------------------ColorPalette------------------*/
/*background : #C30D4C fucsia
background : #6400AA purple
background : #E60050 #E60050
background-color : #6400AA
color : #FFFFFF*?

/*----------------------------Header/Navbar-----------------------*/
header{
  position: relative;
    margin-bottom:0px !important;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}

.navbar{letter-spacing: 2px;
        font-family: "Noto sans", sans-serif;
        font-weight: lighter;
        font-size: 15px;
        color:#6400AA;
        text-align: center;
        
  
}

nav a {
    font-family: "Fjalla Ona", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color:white;
    text-align: left;
}
 nav a:hover {
  color: grey;
  text-decoration: none;
 }

/*----------------------------Main Section-----------------------*/
.home-page{
  margin-top:250px;
  margin-left: 50px;
  
}

.bckgrnd{
  height:100vh;
  background-image: url("../assets/bulb.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.main-content{
  padding-top:10px;
}

h1{font-family: "Fjalla Ona", sans-serif;
    font-weight: 200;
    font-size: 1000px;
    color:white;
    text-transform: uppercase;
  
}
/*----------------------------Footer-----------------------*/
.container-fluid{
    margin-left: 0px;
    margin-right:0px;
    padding:0px;
}
.footer-copyright{
    background-color:#6400AA;
    text-align: center;
}
 
.footer-copyright a {
    font-family:"Noto sans", sans-serif;
    font-weight:100;
    font-size:20px;
    color:white;
}
/*---------------------------Contact page ----------------------*/


.contact-pg {
  background:white;
}

i{
  text-align: center;
}

h4 {
  font-family:"Fajalla Ona", sans-serif;
  font-size: 20px;
  text-transform:uppercase;
  
}
.fa-phone{
      font-size: 3rem;
      margin-top: 50px;
      margin-left: 60px;
}

.fa-home{
      font-size: 3rem;
      margin-top: 50px; 
      color:#C30D4C;
}

.fa-envelope-open-text{
      font-size: 3rem;
      margin-top: 50px;
      color:#C30D4C;
}

.phone{
  font-family: "Noto-sans", sans-serif;
  font-size:20px;
  font-weight: lighter;
  text-transform:uppercase;
  color:#C30D4C;
}

.phnum{
  font-family: "Noto-sans", sans-serif;
  font-size:20px;
  font-weight: lighter;
  color:#333333;
}

  address {
  font-family: "Noto-sans", sans-serif;
  font-size:20px;
  font-weight: lighter;
  color:#333333;
}

/*---------------------------Contact form-----------------------*/
.contact-main {
  text-align: center;
  }

.cont-form{
  flex-grow: 0;
}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333333;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #333333;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #C30D4C;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #262626;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #C30D4C;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #262626;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #C30D4C;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #262626;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #C30D4C;
}

body {
  font-family: 'Noto sans', sans-serif;
  background: #fafafa;
  color: #b3aca7;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Noto sans', sans-serif;
  font-size: 20px;
  width: 400px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  margin-bottom:0px;
  border: solid 1px #b3aca7;
  
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 400px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Noto sans', sans-serif;
  font-size: 20px;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 400px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Noto sans', sans-serif;
  font-size: 20px;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}
/*----------------------------Map-----------------------*/


/*----------------------------HomePage-----------------------*/

/*----------------------------The team-----------------------*/

.main{
  padding-top: 50px;
  margin-left: 10px;
  
}



.title{
    font-family: "Nato sans", sans-serif;
    font-weight:lighter;
    text-transform: uppercase;
    font-size: 100;
    color:grey;
    margin-left:10px;

}

.par {
    font-family: "Nato sans", sans-serif;
    font-weight:lighter;
    font-size: 20;
    color:grey;
    background-color:#fafafa;
    margin-left:10px;
}
  
img {
  height:146px;
  width:146px;
  margin-top: 40px;
  border-radius: 50%;
}
  
.shots-section{
  background:#fafafa;
}


