/*--------------------------ColorPalette------------------*/


/*background : #C30D4C fucsia
background : #6400AA purple
background : #E60050 #E60050
background-color : #6400AA
color : #FFFFFF*?

/*----------------------------Header/Navbar-----------------------*/

.navbar {
  letter-spacing: 2px;
  font-family: "Noto sans", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #fafafa;
  text-align: center;
}

.nav-link {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: left;
}

.nav-link:hover {
  color: white;
  text-decoration: none;
}

.logo {
  border-radius: 50%;
  margin: 10px;
}

@media (min-width: 992px) {
  .navbar li {
    margin-left: 3em;
    margin-right: 3em;
  }
}


/*----------------------------Footer-----------------------*/

.page-footer {
  font-family: "Noto sans", sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #ffffff;
  background-color: #6400AA;
}

.social-icon {
  color: #B54DFF;
  font-size: 20px;
  padding: 5px;
}

.unstyled-icons {
  display: inline-block;
}

.page-footer a {
  color: #B54DFF;
}

.page-footer a:hover {
  text-decoration: none;
  color: #ffffff;
}

.footer-copyright a {
  font-family: "Noto sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #B54DFF;
  padding: 30px;
}


/*----------------------------Text styles-----------------------*/
h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 200;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}
h2 {
  font-family: "Nato sans", sans-serif;
  font-weight: lighter;
  color: grey;
  margin-top: 150px;
  text-align:center;
}

h3 {
  font-family: "Nato sans", sans-serif;
  font-weight: lighter;
  color: grey;
  margin-top: 10px;
  text-align:center;
}

h4 {
  font-family: "Nato sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 30px;
  text-align: center;
  display: inline-block;
}
h6 {
  font-family: "Nato sans", sans-serif;
  margin-top: 40px;
  text-align:center;
}

/*----------------------------Home Page-----------------------*/

.home-page {
  margin-top: 250px;
  margin-left: 50px;
}

.bckgrnd {
  height: 100vh;
  background-image: url("../assets/bulbupside.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-content {
  padding-top: 10px;

}



.home-page p {
  font-family: "Noto sans", sans-serif;
  font-weight: 100;
  color: #fafafa;
}


/*---------------------------Contact page ----------------------*/

.main-content{
  /*background-image: url("");*/
  padding-top: 100px;
}


.contact i {
  text-align: left;
  display: inline-block;
  width: 100%;
  font-size: 3rem;
  margin-top: 50px;
  color: #EEEEEE;
}

.ph-num {
  font-family: "Noto-sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #333333;
}

.ph-num hover {
  color: #C30D4C;
  text-decoration: none;
}

address {
  font-family: "Noto-sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #333333;
}


/*---------------------------Contact form-----------------------*/

.cont-form {
  flex-grow: 0;
  width: 400px;
  padding-top: 20px;
  padding-left:5px;
  padding-right:5px;
}

.cont-form input {
  font-family: "Fajalla Ona", sans-serif;
  text-transform: uppercase;
  text-align: left;
  width: 350px;
  padding: 6px;
  height: 30px;
  color: green;
  margin-bottom: 5px;
}

#message-area {
  height: 100px;
}

.btn {
  margin-top: 20px;
  background-color: #666666;
}

input:hover {
  background: #EEEEEE;
  color: #333333;
}

.gmap {
  margin-top: 20px;
}


/*----------------------------The team-----------------------*/

.team-page { 
  text-align: center;
}

.team-member-shot {
  height: 146px;
  width: 146px;
  margin-top: 40px;
  border-radius: 50%;
}

.team-member-name {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 30px;
}

.bio {
  height: 300px;
}

.pie-title {
  display: block;
}


/*-------------------------------Method---------------------*/

.define-text {
  border: 1px solid;
  border-color: #DDDDDD;
  border-top: none;
  border-right: none;
}

.meausure-img {
  border: 1px solid;
  border-color: #DDDDDD;
  border-top: none;
  border-left: none;
}

.analyse-text {
  border: 1px solid;
  border-color: #DDDDDD;
  border-top: none;
  border-right: none;
}

.improve-img {
  border: 1px solid;
  border-color: #DDDDDD;
  border-top: none;
  border-left: none;
}

.control-text {
  border: 1px solid;
  border-color: #DDDDDD;
  border-top: none;
  border-right: none;
}

.method-item-number {
  font-size: 5.584rem;
  color: #e1e1e1;
  left: 0;
  top: 0;
  -webkit-transform: translate(-127%, -21%);
  -ms-transform: translate(-127%, -21%);
  transform: translate(-127%, -21%);
  font-family: Noto Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 800;
  background-color: #fff;
}

.method-img {
  display: block;
  margin: 30px auto 20px auto;
  width: 35%;
}


/*-------------------------Portfolio---------------------------*/

.portfolio-bckgrnd {
  margin-top: 60px;
}

.left-text {
  border: 3px solid;
  border-color: #EEEEEE;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.left-text:before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../assets/purplegear.png");
  background-size: contain;
  background-color: white;
  position: absolute;
  right: -17px;
  top: 0;
}

.right-text{
  padding-left:30px;
}
.year {
    text-align: center;
    padding-right: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}